{% extends 'events/base.html' %}

{% block content %}
<center>
    <div class="card">
        <div class="card-header">
            {% if searched %}
                You Searched For... {{searched }}
            {% else %}
                Search Events...
            {% endif %}
        </div>
    <form class="d-flex" method="POST"
    action = "{% url 'search_events' %}">
    {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search Evemts" aria-label="Search" name="Searched">
      <button class="btn btn-outline-secondary" type="submit" >Search</button>
    </form>
    <br/>
    {% for event in events %}
    <div class="card">
        <div class="card-header">
            {{event}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Venue: {{event.venue.web}}</h5>
          <p class="card-text">    <ul>
            
            <li><strong>Date:</strong> {{event.event_date}}</li>
            
            <li><strong>Manager:</strong> {{event.manager}}</li>
            <li><strong>Description:</strong> {{event.description}}</li>
            <li><strong>Attendees:</strong>
            {% for user in event.attendees.all %}
                 {{user}},
            {% endfor %}
            </li>
        </ul></p>
        </div>
        {% if user.is_authenticated %}
          {% if user == event.manager %}
            <div class="card-footer">
              <a href = "{% url 'update-event' event.id%}" class="btn btn-outline-secondary btn-sm" >Update Event</a>
              <a href = "{% url 'delete-event' event.id%}" class="btn btn-outline-danger btn-sm" >Delete Event</a>
            </div>
          {% endif %}
        {% endif %}
      </div>
    
    
    
        <br/>
    {%endfor%}


</center>
{% endblock %}