{% extends 'events/base.html' %}

{% block content %}



    <div class="card">
        <div class="card-header">
            Venue
        </div>
        <div class="card-body">
          <h5 class="card-title">Venue</h5>
          <p class="card-text">    <h1>{{ venue }}</h1> <br>
            <br/>
            {{venue.name}}  
            {{venue.address}} <br/>
            {{venue.zip_code}} <br/>
            {{venue.phone}} <br/>
            {{venue.email.address}} <br/>
            <a href="venue.web">{{venue.web}}</a> <br/></p>
            Owner: {{venue_owner}}
            <br>

            {% if venue.venue_image %}
              <img src = '{{venue.venue_image.url}}' width="500"> 
            {% endif %}
            <br>
            <h3>Events At This Venue...</h3>
            {% if events %}
            {% for event in events %}
              <a href = "{% url 'show-event' event.id %}">{{event}}</a><br>
            {% endfor %}
            {% else %}
            No Events Scheduled At This Time.
            {% endif %}
            <br>
        </div>
      </div>

{% endblock %}