{% if user.is_authenticated %}
{% if User == task.user %}
{% load static %}

<link rel = 'stylesheet' href = "{% static 'css/show_task.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
<title>To Do</title>

<body>
    <nav>
        <div class="nav-block">To Do</div>
        <form class="nav-block" method="GET">
            {% csrf_token %}
            <input class="block-input" placeholder="&#128269;">
        </form>
        <div class="nav-block">
            <div class="block-logout"><a href="{% url 'logout'%}" class="logout">L</a></div>
        </div>
    </nav>
    <section>
        <div class="section-block">
            <a href="{% url 'home' %}" class="block-info"><i>&#9788;</i> <span>My Day</span></a>
            <a href="{% url 'important' %}"  class="block-info"><i>&#10029;</i> <span>Important</span></a>
            <a href="{% url 'show' %}" class="block-info"><i>&#9781;</i> <span>Show</span></a>
            <a href="{% url 'groupe'%}" class="block-info"><i>&#9993;</i> <span>Groupe</span></a>
            <a href="{% url 'done' %}" class="block-info"><i>&#9750;</i> <span>Done</span></a>   
        </div>
    </section>
    <main>
        <div class="main-place">
            <div class="main-header">
                <div class="header-day"><i>&#9781;</i> <span>Show</span></div>
            </div>
            <div class="date">
                {{date}}    
            </div>
            <div class="main-block">
                <div class="block">
                    <div class="block-first">
                        <div class="first-title"> {{task.name}}</div>
                        <div class="first-date"> {{task.date}}</div>
                        <div class="first-note"> {{task.note}}</div>
                        {% if task.file %}
                        <div class="first-file"> <a href="{{task.file.url}}" class="file-link">LINK</a></div>
                        {% endif %}
                    </div>
                    <div class="block-second">
                        <div class="second-title">Steps</div>
                        {% for step in task.steps.all %}
                        <div class="second-step">{{ forloop.counter }}. {{ step.name }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
{% else %}
<a href="{% url 'login-view' %}">Please Log in</a>
{% endif %}
{% endif %}